<div class="page">
    <div class="container">
        <div class="plan-title">{{'Plan.Title'| translate}}</div>
        <div style="height:7px;width:100%;float:left;"></div>
        <!-- CONTENT-->
        <div class="content">
            <div class="content_section1">
            </div>
            <div class="content_section2">
            </div>
            <div class="content_section3">
            </div>
            <div class="content_section4">
            </div>
        </div>
        <div class="plan-title2">{{'Plan.Title2'|translate}}</div>
        <div class="plans">

            <table width="90%" border="0" cellspacing="10" cellpadding="5">
                <tr>
                    <td>&nbsp;</td>
                    <td class="align-center"><span class="color_span_one" size="+2">{{'Plan.Personal1'|translate}}</span></td>
                    <td class="align-center"><span class="color_span_one" size="+2">KOBİ <span style="color:#959595">Silver</span></span></td>
                    <td class="align-center"><span class="color_span_one" size="+2">KOBİ <span style="color:#1f87b2">Premium</span></span></td>
                    <td class="align-center"><span class="color_span_one" size="+2">KOBİ <span style="color:#ffcc33">Gold</span></span></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Month'|translate}}</td>
                    <td class="align-center"><span class="color_span_two">{{'Plan.Free'|translate}}</span></td>
                    <td class="align-center"><span class="color_span_two" size="+2"><b>{{'Plan.Money1'|translate}}</b></span></td>
                    <td class="align-center"><span class="color_span_two" size="+2"><b>{{'Plan.Money2'|translate}}</b></span></td>
                    <td class="align-center"><span class="color_span_two" size="+2"><b>{{'Plan.Money3'|translate}}</b></span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="align-center"><span class="color_span_three"><b>{{'Plan.Month2'|translate}}</b></span></td>
                    <td class="align-center"><span class="color_span_three"><b>{{'Plan.Month2'|translate}}</b></span></td>
                    <td class="align-center"><span class="color_span_three"><b>{{'Plan.Month2'|translate}}</b></span></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.User'|translate}} <span class="" data-title="{{'Plan.UserContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><b>2</b></td>
                    <td class="align-center"><b>5</b></td>
                    <td class="align-center"><b>10</b></td>
                    <td class="align-center"><b>50</b></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Disk'|translate}} <span data-title="{{'Plan.DiskContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><b>1 GB</b></td>
                    <td class="align-center"><b>2 GB</b></td>
                    <td class="align-center"><b>5 GB</b></td>
                    <td class="align-center"><b>20 GB</b></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.File'|translate}}<span data-title="{{'Plan.FileContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><b>5 MB</b></td>
                    <td class="align-center"><b>50 MB</b></td>
                    <td class="align-center"><b>500 MB</b></td>
                    <td class="align-center"><b>1 GB</b></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Custom'|translate}}<span data-title="{{'Plan.CustomContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><img src="images/false.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Work'|translate}}<span data-title="{{'Plan.WorkContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><img src="images/false.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Customer'|translate}} <span data-title="{{'Plan.CustomerContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><img src="images/false.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Security'|translate}}<span data-title="{{'Plan.SecurityContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                    <td class="align-center"><img src="images/true.png" width="24" height="24" border="0"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="align-center"><a href="http://test.ofisim.com/#/auth/register"><img src="images/uye_ol_btn1.png" width="187" height="37" border="0"/></a></td>
                    <td class="align-center"><a href="http://test.ofisim.com/#/auth/register"><img src="images/uye_ol_btn1.png" width="187" height="37" border="0"/></a></td>
                    <td class="align-center"><a href="http://test.ofisim.com/#/auth/register"><img src="images/uye_ol_btn1.png" width="187" height="37" border="0"/></a></td>
                    <td class="align-center"><a href="http://test.ofisim.com/#/auth/register"><img src="images/uye_ol_btn1.png" width="187" height="37" border="0"/></a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5"><b>{{'Plan.Packet'|translate}}</b></td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.Add'|translate}}<span data-title="{{'Plan.AddContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span></td>
                    <td><font color="#5aa113"><b>{{'Plan.AddMoney'|translate}}</b></font></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">{{'Plan.AddDisk'|translate}} <span data-title="{{'Plan.AddDiskContent'|translate}}" data-trigger="hover" data-placement="right" bs-tooltip>
                        <img src="images/help.png" data-hover="images/help1.png" width="14" height="14" border="0"/></span>
                    </td>
                    <td><span style="color:#5aa113"><b>{{'Plan.AddMoney'|translate}}</b></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>
