<div class="page">
    <div class="container">
        <div class="feature-title">{{'Features.Title' |translate}}</div>
        <div style="height:7px;width:100%;float:left;"></div>
        <!-- CONTENT-->
        <div class="content ">
            <div class="content_section1">
            </div>
            <div class="content_section2">
            </div>
            <div class="content_section3">
            </div>
            <div class="content_section4">
            </div>
        </div>
        <div class="feature-title2">{{'Features.Title2' |translate}}</div>
        <div class="features">
            <!-- SLIDES -->

            <div class="slider-location">
                <div class="details">
                </div>
                <div class="carousel-demo">

                    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-buffered class="carousel5">
                        <li><img ng-src="images/features/nemo.jpg" width="853" height="534"/>
                        </li>
                        <li><img ng-src="images/features/toystory.jpg" width="853" height="534"/>
                        </li>
                        <li><img ng-src="images/features/up.jpg" width="853" height="534"/>
                        </li>
                        <li><img ng-src="images/features/walle.jpg" width="853" height="534"/>
                        </li>
                    </ul>
                    <div class="slider-indicator" rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
                </div>
            </div>


            <!-- SLIDES END -->

        </div>
    </div>
</div>
