<div class="page">
    <div class="container">
        <div class="banner">
            <!-- BANNER LEFT SIDE -->
            <div class="banner_left">
                <div class="banner_left_title">
                    <img src="images/banner_title.png" width="1010" height="58" border="0"/>
                </div>
                <div class="banner_left_text">
                    <img src="images/banner_text.png" width="728" height="213" border="0"/>

                    <p><a href="#/features"><img src="images/ozellikler_btn.png" width="231" height="56" border="0"/></a>&nbsp;
                        <a href="#/plans"><img src="images/uye_ol_btn.png" width="231"
                                               height="56" border="0"/></a></p>
                </div>
            </div>
            <!-- BANNER RIGHT SIDE -->
            <div class="banner_right">
                <p><img src="images/banner_img.png" width="600" height="364" border="0"/></p>
            </div>
        </div>
        <!-- CONTENT -->
        <!-- TOP SECTIONS -->
        <div class="content">
            <div class="content_section1">
                <img src="images/gorev_takibi_icon.png" width="212" height="102" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section1'| translate}}<br/><br/><a href="#/features">{{'Home.Detail'|translate}} >></a>
                </div>
            </div>
            <div class="content_section2">
                <img src="images/musteri_listesi_icon.png" width="250" height="102" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section2'| translate}}<br/><br/><a href="#/features">{{'Home.Detail'
                    |translate}} >></a>
                </div>
            </div>
            <div class="content_section3">
                <img src="images/proje_yonetimi_icon.png" width="236" height="102" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section3'| translate}} <br/><br/><a href="#/features">{{'Home.Detail'|translate}} >></a>
                </div>
            </div>
            <div class="content_section4">
                <img src="images/dokuman_yonetimi_icon.png" width="288" height="102" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section4'| translate}}<br/><br/><a href="#/features">{{'Home.Detail'
                    |translate}} >></a>
                </div>
            </div>
        </div>
        <div style="height:50px;width:100%;float:left;">&nbsp;</div>
        <!-- BOTTOM SECTIONS -->
        <div class="content">
            <div class="content_section5">
                <img src="images/paylasim_title.png" width="309" height="103" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section5'| translate}}
                </div>
            </div>
            <div class="content_section6">
                <img src="images/724erisim_title.png" width="310" height="103" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section6'| translate}}
                </div>
            </div>
            <div class="content_section7">
                <img src="images/zaman_tuneli_title.png" width="310" height="103" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section7'| translate}}
                </div>
            </div>
            <div class="content_section8">
                <img src="images/guvenlik_title.png" width="309" height="103" border="0"/>

                <div class="content_section_text">
                    {{'Home.Content_Section8'| translate}}
                </div>
            </div>
        </div>
    </div>
</div>